*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    box-sizing: border-box;

}


h2{
    color:white;
    padding: 40px 40px 40px 40px;
    padding: 1.25em;
    width: 100%;
    background-color:rgb(156, 75, 231); 
   }

.img{
 
    padding: 40px 40px 40px 40px;
    width: 500px ;
    height:auto;
   display: flex;
   flex-direction: column;
}
.archivos{
   width: 400px;
   height:300px;
   border: 2px solid green;
   margin: 40px;

}

ul{
    
    list-style: none;
    color:blueviolet;
    padding: 20px 20px 20px 20px;
    
   }
a{
    
    text-decoration: none;
    color:blueviolet;
    
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    
   } 
a:hover{
    

    color:rgb(28, 4, 51);
    cursor: pointer;
  
    
   }   
.contenedor{
    
    display: flex;
    flex-direction: row;
    
   }     