*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    box-sizing: border-box;

}
.body{
    background: rgb(251, 222, 255);
}

.historias{
    width: 100%;
    height: 200px;
   
    padding: 20px 40px;
    margin-top: 40px;
    background: url(./img/marchan.png);
   
}

.parrafo{
    padding: 20px 80px;
    font-weight: 50px;
    Line-height: 1.5;
    
  }    

.link{
    background-color:#eccfe8;;
    border-radius: 10%;
   border: 1px solid#afb0b1;
   padding-top: 10px;
}
.link:hover{
    background-color:#eccfe8;
    border-color:1px solid blueviolet;
    
}
h2{
    color:white;
    padding: 40px 40px 40px 40px;
    padding: 1.25em;
    width: 100%;
    background-color: rgb(161, 68, 248) ;
   }

.img{
 
    padding: 20px 20px 20px 20px;
    width: 500px ;
    height:auto;
    display: flex;
    
}
.archivos{
   width: 400px;
   height:300px;
   border: 2px solid #afb0b1;
   margin: 40px;
   background-color: #eccfe8;

}
.archivos2{
    width: 420px;
    height:100%;
    border: 2px solid #afb0b1;
    margin: 40px;
    background-color: #eccfe8;
 
 }
.introducion{
  text-align: center;
  padding: 40px 40px 40px 40px;
  Line-height: 1.5;
 
 }
.contenedor{
    display: flex;
 
 }
.archivos:hover{
    border-color: blueviolet;
 
 }
 .archivos2:hover{
    border-color: blueviolet;
 
 }

ul{
    
    
    color:blueviolet;
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    
   }

a{
    
    text-decoration: none;
    color:rgb(28, 3, 53);
    padding-top: 10px;
    padding-bottom: 10px;
   
    display: inline-block;
    
   } 
a:hover{
    

    color:rgb(161, 68, 248);
    cursor: pointer;
  
    
   }   

  p{
    

    color: black;
    padding: 10px 10px 10px 10px;
  
    
   }   
.pie{
    background-color: rgb(161, 68, 248);
    display: flex;
    justify-content: center;
}
.pie2{
    background-color: rgb(161, 68, 248);
    display: flex;
    justify-content: center;
    font-size: 10px;
}
.pie a {
    color:seashell;
    padding: 10px 10px 10px 10px;
}
 
.pie :hover {
    color:rgb(166, 154, 177);
    
}
.pie2 a {
    color:seashell;
    padding-left: 20px;
}

.inicio{
    background-color:  #eccfe8;
    width: 150px;
    padding: 10px 10px 10px 10px;
    margin-left: 40px;
    border-radius: 40%;
    border-color: #b69fb2;
}
.inicio:hover{ 
    background-color: #eecee9;
    border-color: 1 px solid  blueviolet;
     
     
}

   @media screen and (max-width:850px){

    .historias{
        width: auto;
        height:auto;
       
     
     }

    .archivos{
       
            width: auto;
            height:auto;
       
     
     }
     .archivos2{
       
        width: auto;
        height:auto;
   
 
 }

 .contenedor{
    display: flex;
   flex-direction: column;
   justify-content: center;
  

}
   }

   @media screen and (max-width:550px){

    .historias{
        width: auto;
        height:auto;
       
     
     }
     .contenedor{
         display: flex;
        flex-direction: column;
        justify-content: center;
       
     
     }

     


     @media screen and (max-width:500px){

        .img{
            width: 300px;
            height:auto;
            margin-left: 20px;
           
         
         }
    
         .parrafo{
            width: auto;
            padding: 0;
          }  
          .pie{
           font-size: 12px;
           
        }
        .pie2{
            font-size: 12px;
           
        }
   }

   @media screen and (max-width:400px){

    .img{
        width: 300px;
        height:auto;
        margin-left: 20px;
       
     
     }

