*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    box-sizing: border-box;

}

.body{
    
    font-size: 16px;
}

header{
    padding: 1.25em;
    width: 100%;
    
}

.logo{
    
    display: none;
}
.toggle-btn{
    
    display: none;
}



.info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 6.25em;
}


a{
color:#fff;
padding: 20px;
text-decoration: none;
display: inline-block;

}

a:hover{
    color:rgb(166, 154, 177);
}
ul{
    background-color:rgb(156, 75, 231); 
    list-style: none;
    display: flex;
    flex-direction: row;
   
}
   
h2{
 color:rgb(166, 154, 177);
}
span{
    margin-right: 10px;
}

.allbody{
    
   
    width:auto;
    height: auto;
    padding: 30px 30px 30px 30px;
    
   
}
.section{
    
   
    width:auto;
    height: auto;
    padding: 20px;
    
    
   
}
.bienvenida{
    
   
    width:100%;
    
 
}

.row{


    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}




.section1{
    display: flex;
    flex-direction: row;
    max-width: 100%;

}
.colum{
    width: 50%;
}


.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
   
    
}
.grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    
}


.fondo{
    width:100%;
   
}
.fondo1{
    width:100%; 
    
}


.card1{
    margin-left: 30px;
 }

.img{
    width: 50%;
    border-radius: 60%;
    padding: 1.87em ;
    display: flex;
    flex-direction: row;
    
    

}

.titulo{

    font-weight: bold;
    font-size: 5em;
    padding: 20px;
    color:rgb(179, 121, 233);
    margin-top: 50px;
}

.informacion{
    color:rgb(166, 154, 177);
    padding: 20px;
    
}

.pie{
    width: 100%;
    height: 8.35em;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
    background-color: rgb(156, 75, 231);
}
i{
    width: 100px;
}
.pie2{
    text-align: center;
    
    flex-direction: column;
    justify-content: flex-end;
}

.youtube{

padding: 40px 40px  40px 40px;
display: flex;
flex-direction: row;
justify-content: center;

}

.slider{

   display: flex;
   flex-direction: row;
 
 
   
    }

.tamaño{

       width: 650px;
         }

.comentarios{

          text-align: center;
         
        }

   

@media screen and (max-width:1200px){
    
    .img{
    width: 70%;
     }
    .colum{
        width: 80%;


}
.fondo{
   
    height: 100%;
   
}
.fondo1{
   
    height:100%;
}

.tamaño{

    width: 500px;
      }
}


@media screen and (max-width:992px){

   

.img{
    width: 100%;

}
.fondo{
   width: 100%;
    height: 100%;
   
}
.fondo1{
    width: 100%;
    height:100%;
}
.slider{
    display: flex;
    flex-direction: column;

   
  }

}


@media screen and (max-width:780px){

    .section1{
        
        flex-direction: column;
        text-align: center;
    
        
    }

    .img{
        width: 80%;
        
    }
    .contacto{
        font-size: 15px;
    }

    
}


@media screen and (max-width:650px){

.body{
    font-size: 10px;
}
.img{
  width: 100%;
}


.tamaño{

    width: 400px;
   
      }

.element{

      display: none;
       
          }

.element1{

    display: none;
             
         }
 .card1{

    width: 300px;
                     
     }

.card2{

     width: 300px;
     padding-left: 30px;
                              
     }
}

@media screen and (max-width:570px){

*{
    margin:0;
    padding: 0;

       }  

.allbody{
    background-color: rgb(68, 67, 67);
    color:white;

    }
    
.img{
    display: none;
      
       
    }
.info{
    margin-left: 40px;
    }

ul{
        
     list-style: none;
    flex-direction: column;
       
    }
                          
.comentarios{

    display: none;
                                             
        }

 .toggle-btn{
    
    display:block;
       
        }
              
 #sidebar{
    position: fixed;
    width: 200px;
    height: 100%;   
    left: -200px;
    transition: all 500ms linear;
        
        }

 #sidebar.active{
    left: 0;
        }

    
 #sidebar ul li{
    color:rgb(230,230,230,.9);
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
        
        }

.logo{
    border-radius:50% ;
    width: 100px;
    height: 100px;
    display: block;
    margin:0 auto;
        }
        
#sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top:20px;
    cursor:pointer;
        }
        
#sidebar .toggle-btn span{
    display:block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border:1px solid 
        }


}

@media screen and (max-width:420px){

    .contacto{
        display: none;
    }
    .informacion{
        font-size: 17px;
    }
    
    .section1{
       padding-left: 0;
    }

    .img{
        width: 170%;
        align-items: center;
        margin-right: -80px;
    }


    .section{
        width: auto;
        height:auto;
        overflow: hidden;
        font-size: 14px ;
       

    }
    .colum{
        width: 100%;
        font-size: 12px;
        padding:0;
    }
    .pie{
        font-size: 13px;
    }
    .card2{

        width: 300px;
        padding: 10px 10px 10px 10px;
                                 
        }
    .card1{

        width: 300px;
        padding: 10px 10px 10px 10px;
        margin:0;
                                     
            }
    .youtube{
       

            padding: 40px 40px  40px 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
          
}

.slider{

    display: none;
                                 
        }

.comentarios{

     display: none;
                                         
     }
}





